<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178862027817-3robdusm4h60m2apkub3hqs3p40avlg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178862027817-3robdusm4h60m2apkub3hqs3p40avlg4</string>
	<key>API_KEY</key>
	<string>AIzaSyCm5NUP2YtqBCB_kmmeX8CIUa8j3xEk_xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>178862027817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sekspir.clashminiguide</string>
	<key>PROJECT_ID</key>
	<string>clashminiguide</string>
	<key>STORAGE_BUCKET</key>
	<string>clashminiguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178862027817:ios:abff9e18289a5bfcdad838</string>
</dict>
</plist>